.sidebar__position {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 15px;
    z-index: 1100;
}
.sidebar__position-top-bottom-left-right {
    display: flex;
}
.sidebar__position-top-bottom-left-right > button {
    display: block;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background: none;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(31, 31, 31);
    border-radius: 6px;
    margin: 4px;
    font-size: 14px;
    outline: none;
    transition: .3s;
}
.sidebar__position-top-bottom-left-right > button:hover {
    background: rgb(88, 88, 88);
}
.topBottom .menu-main .submenu,
.topBottom .menu-main {
    display: flex;
}
.topBottom .menu-main .submenu {
    position: absolute;
    left: 0;
    top: 46px;
    padding: 0;
    background: #454545;
    width: 100%;
}
.topBottom .menu-main .submenu a {
    background: none;
    padding: 8px 10px;
}
.topBottom .menu-main .submenu li a {
    padding: 8px 10px;
    background: none;
}
.topBottom .sidebar-header,
.topBottom .menu-user {
    display: none;
}
.topBottom .form-search {
    z-index: 1000;
    position: absolute;
    right: 50px;
    width: 400px;
}
.topBottom .form-search .search {
    width: 201px;
}
.support {
    display: none;
}
.topBottom .support {
    display: flex;
    align-items: center;
    height: 100%;
    right: 0;
    width: 170px;
    margin-left: auto;
}
.topBottom .support a {
    display: block;
    padding: 4px 10px;
    color: #c4c4c4;
    text-decoration: none;
}
.topBottom .menu-main > li.is-expanded > a {
    position: relative;
}
.topBottom .menu-main > li.is-expanded > a::after {
    content: '';
    position: absolute;
    top: 37px;
    width: 0;
    height: 0;
    left: 33px;
    margin: 0 auto;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #454545;
}
.topBottom .menu-main .submenu li.is-selected a {
    position: relative;
}
.topBottom .menu-main .submenu li.is-selected a::after {
    position: absolute;
    content: "";
    display: block;
    width: 70%;
    height: 5px;
    top: 24px;
    left: 12px;
    background: #c5c5c560;
}
.topBottom .server-name {
    position: absolute;
    right: 0;
    top: 50px;
}
.topBottom .menu-main > li > a {
    padding: 15px 10px;
}
.topBottom .menu-main {
    width: 100%;
    background: #2b2b2b;
    height: 46px;
    padding-left: 120px;
}
.topBottom .menu-main > li > a:hover,
.topBottom .is-expanded {
    background: none;
    border: none;
}
.topBottom .menu-main > li.is-expanded > a:focus {
    background: none;
}
.topBottom .menu-main a {
    border: none;
}
.topBottom .menu-main > li > a{
    background: none;
    font-size: 14px;
    padding: 15px 10px;
}